# Базовый адрес тестируемого стенда
BASE_URL=

# Учетные записи пользователей (заполните своими данными)
RESPONSIBLE_USERNAME=
RESPONSIBLE_PASSWORD=

# Пути к браузерам на локальной машине (при необходимости)
BROWSER_PATH_GOST=
BROWSER_PATH_YANDEX=

